<b> 1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:

- First get the webpage https://www.naukri.com/

- Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

- Then click the search button.

- Then scrape the data for the first 10 jobs results you get.

- Finally create a dataframe of the scraped data.</b>

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)

In [2]:
conda install -c conda-forge selenium

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - selenium


The following packages will be UPDATED:

  conda              pkgs/main::conda-4.13.0-py39haa95532_0 --> conda-forge::conda-4.13.0-py39hcbf5309_1


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - conda


The following packages will be SUPERSEDED by a higher-priority channel:

  conda              conda-forge::conda-4.13.0-py39hcbf530~ --> pkgs/main::conda-4.13.0-py39haa95532_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [22]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [23]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [24]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
# to close automated chrome window
driver.close()

In [25]:
#open naukri.com website on automated chrome window 
driver.get('https://www.naukri.com/')

In [26]:
# Finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input") #job search bar
search_field_designation.send_keys("Data Analyst")

In [27]:
#entering the location Banglore in location search bar 
search_field_loaction=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input') #Location Search bar
search_field_loaction.send_keys("Bangalore")

In [28]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [29]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [30]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="468e8eb2-7be3-4f84-b468-45fb441be7db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="10b2fcc6-5e6c-496f-9c01-7e22ad78029b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="df28176c-fa48-4062-bfd8-b717d318905c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="bbb07554-55e6-492d-89d2-5c1f037e2352")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="973ff0b4-6419-4ea5-b086-789fcac7c3e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="8612f5b1-c46f-4491-8557-c81abdbcb17b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="835a3a8a-b4cc-453a-b487-ce00247dd157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="96e8eff8-3bcb-428b-8991-f69b0bf74794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="ffbd28a2-748e-486b-aa06-18df771f0404")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="c42e70d3-1dd8-4067-8440-165aa8a84e3e")>]

In [31]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Business Data Analyst',
 'EY GDS Data Analyst-Finland based project',
 'Business & Data Analyst - Alteryx (London)',
 'Data Analyst - Data and Analytics',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Data Analyst / Business Analyst',
 'Genpact Hiring For Data Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS']

In [32]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="fc306273-245c-486e-a41a-053f2a88536f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="1e723d89-6c4d-463d-96dd-bd94de8676a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="0824e8ba-2d97-489e-8b27-2dd3bf060425")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="df5924a1-a6bb-49de-ac00-5c2baa6f6864")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="20662583-de77-40dc-b58a-6b271014dbbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="28937fb3-5ebb-48b6-be73-9357e8fca457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="067a2059-deb2-4376-95bb-f0f99046eced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="5d3d2120-c9db-4426-94a3-cb69119cb7a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="d77fe111-fdb1-44ca-a69b-9e2f0ddcfd90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="c432d2f3-dd76-4842-86b3-1d79f6fafabd")>]

In [33]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['NXP Semiconductors',
 'EY',
 'Imaginative Brains LLP',
 'Intel',
 'Flipkart',
 'Walmart',
 'Rise Finconnect Private Limited',
 'METRO Cash & Carry',
 'Genpact',
 'Leading US MNC into Analytics']

In [34]:
# so lets extract all the tags having the experience required data

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="b899f161-8f42-429d-b5ae-e16c1aba1af6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="50877ede-239c-45a0-9f9c-d2ad9158458e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="2bd19300-3e38-4875-a898-8855dc4e2c40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="f01eb88e-f295-466c-9f95-f1d922f33815")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="3c2d9f25-1a68-4eac-81e4-6c1be1541a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="bd15c10b-5d58-426e-8e08-c2ad9364f6ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="944e41bf-a5cd-4e50-8933-1f621134e3f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="1e3dee7c-5805-4bf7-a2a8-6ae8870ba845")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="6a7e9b3c-85b6-4110-95ed-e886684bc647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="154bdcfe-195a-43d8-a43b-0c5f6ef90c29")>]

In [35]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['2-5 Yrs',
 '0-1 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-7 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '2-7 Yrs']

In [36]:
# so lets extract all the tags having the location required data

location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="41ce4311-90ae-4751-b9da-49fc394e82ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="bd47241d-4034-4edb-997e-228613e7c4da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="57293fc6-a5ce-4591-a9d2-a00c124ae8f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="9625d19b-e3f7-4066-92f8-6ae632d3b724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="9cf110ac-0e0e-48ae-a5eb-d75efcadeedd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="6d805452-a9f0-4e89-a5a3-6dfd7004c3a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="8a860ed9-7cee-4012-9d41-3334ee2f0432")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="128aa960-de67-403f-be7a-9e0ab15984b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="cee31090-9944-4a62-a34f-b8423c03b50d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90b22cf04d1a7580d83acc1e64fe2276", element="2a628c56-a3c1-48cd-acef-7865e19a054f")>]

In [37]:
for i in location_tags :
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR']

In [38]:
#So lets check th length of ech element.
#Import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=locations_list[:10]

In [39]:
jobs

,title,company,experience_required,location
0,Business Data Analyst,NXP Semiconductors,2-5 Yrs,Bangalore/Bengaluru
1,EY GDS Data Analyst-Finland based project,EY,0-1 Yrs,Bangalore/Bengaluru
2,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,5-10 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
3,Data Analyst - Data and Analytics,Intel,3-6 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru
6,"Data Analyst - Data Science, 3 To 5 Years",Rise Finconnect Private Limited,2-6 Yrs,Bangalore/Bengaluru
7,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
8,Genpact Hiring For Data Analyst,Genpact,2-6 Yrs,Bangalore/Bengaluru
9,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."

<b>Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [57]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [58]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [59]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [60]:
#open naukri.com website on automated chrome window 
driver.get('https://www.naukri.com/')

In [61]:
# Finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input") #job search bar
search_field_designation.send_keys("Data Scientist")

In [62]:
search_field_loaction=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input') #Location Search bar
search_field_loaction.send_keys("Bangalore")

In [63]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

So,Now lets first create 4 empty lists. In these lists the data will be stored while scraping. We have created 4 empty lists for 4 features which we have to extract.

1Job_titles 2.company_names 3.locations_list

First, We will extract all the tags where we have the job titles,lets me first show you on the webpage in which tags the job titles are put.

In [64]:
job_titles=[]
company_names=[]
locations_list=[]

In [65]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="5c746938-dc98-4372-92d6-9790a5089d96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="5b09d084-16c5-4d86-b4c5-228ed3bffd92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="ee7bc3d8-bd37-4c94-b76c-ea1853c55b5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="f35d0e76-367e-47df-b211-b643d23fb13b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="9d06f271-3d98-4979-86ae-28bf9ec7b168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="1b56ccd2-482b-4035-a03d-f54a21ce8cbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="135d1bd0-94b6-4e63-a6b2-64a2258bac8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="de651eba-8508-4a00-993e-d51e3d2f2480")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="534bcbcd-4ec0-4ecf-b4dc-f5dc453c0cdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="a225a89c-e855-430d-a92b-4673723c95c2")>]

In [66]:
# Now the text of the title is inside the tags extracted above.
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Data Scientist- AI/ML- R&D',
 'Urgent Hiring For AI Data Scientist']

In [67]:
# So lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="78701794-a7b3-40e7-a60e-9b3e9cfea2ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="8b02c19b-67e3-4af7-bf60-6481a8c423a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="bd01053b-c442-4beb-bafd-6cc90a5f6bc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="de3b4482-4108-403c-ae13-7568922249e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="576a8a14-973c-4adc-82cf-78b7c2100a5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="fb97b59b-32b7-465a-84fa-58d34e4fe2fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="468a5485-38b4-4ae3-850b-6e186389ecfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="bb195563-ceb9-4c92-a6f0-8308936e041f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="6541edcf-3790-450c-8d04-03ddaad6e17e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="77b950cf-a05e-4702-b9ce-dfca7b486eb5")>]

In [68]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Wipro',
 'Wipro',
 'Genpact',
 'Walmart',
 'Walmart',
 'Genpact',
 'Genpact',
 'Bristlecone',
 'EXL',
 'Ashkom Media India Private Limited']

In [69]:
# So lets extract all the tags having the location names
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="585c76b2-7e63-4624-9978-e302c46dc9fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="807a39be-d765-4dc3-aac8-38a49019a153")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="6de19193-792f-400e-a9f8-97701607e3af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="b8cb5b31-c4a0-4982-bae7-5ae8926a2660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="88838272-6023-4fb9-9e64-ca0cdea8c23c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="717fa9c1-ef3f-4042-9cfd-518e6a9a4f4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="9fc30f09-5dc1-40c2-a3ba-e1aaeec4d2c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="d96fc24e-c758-481a-b947-d23cb0f3dd44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="05c5aa0d-b8b1-4856-bd47-02c9cef9277f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7cfe8985e4aca674317bdd7e36cb666c", element="fa84eac6-6fbe-4831-be82-02b256f64ac4")>]

In [70]:
for i in location_tags :
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)']

In [71]:

print(len(job_titles),len(company_names),len(locations_list))

20 20 20

In [72]:
#Import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['location']=locations_list[:10]

In [73]:
jobs

,title,company,location
0,AI Technologist Vacancy,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
1,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Data Scientist,Genpact,Bangalore/Bengaluru
3,Senior Data Scientist,Walmart,Bangalore/Bengaluru
4,Senior Data Scientist,Walmart,Bangalore/Bengaluru
5,Data Scientist,Genpact,Bangalore/Bengaluru
6,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
7,Data Scientist - Immediate Joiners,Bristlecone,"Noida, Mumbai, Pune, Bangalore/Bengaluru"
8,Data Scientist- AI/ML- R&D,EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
9,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."

<b> Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [74]:
# Lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [75]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [76]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [77]:
#open naukri.com website on automated chrome window 
driver.get('https://www.naukri.com/')

In [78]:
# Finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input") #job search bar
search_field_designation.send_keys("Data Scientist")

In [79]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [80]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]
salary_list=[]

In [81]:
# So lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="c560b462-f5ea-42c5-9f7b-37e3415a7eb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="7397e26c-21ce-4385-ab56-ec36ce3093b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="88ae510f-b6a1-4b07-9141-3c0ecf84144a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="77657fa9-733b-416f-b875-02ad10b83afe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="beb42cda-f880-4513-a4c6-8e2a29333079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="481ad09e-fc17-4b1b-8876-8a9bf0a70594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="b5696b9d-702b-4df0-b9a3-45bcb1f57b41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="2012aa96-7b42-43b0-a26e-2ddb4c489149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="ea4f2e8c-0bf6-4e47-af7f-b872f4cbdb88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="f1c4dca4-88d5-4976-8f09-03e071c8df0d")>]

In [82]:
# Now the text of the title is inside the tags extracted above.
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist- AI/ML- R&D',
 'Data Scientist',
 'Data Scientist']

In [83]:
# So lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="b08d3e41-1ff6-491e-af49-9661bc3b37b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="e2de33d2-a4a8-4632-a063-28136f4affa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="920b1d75-dc56-40b1-a7c9-3f9c537770aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="e0915931-08be-41a2-874a-33d2190278c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="53f22aa7-02f5-4ec3-8843-5891b4b5e0bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="87a44b38-0188-4268-9d80-57b14c1b7d00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="dc62ec3d-fbb4-4adc-9567-464863cf182f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="254c19a2-52d2-4bdb-9039-6068b34bf977")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="06bf3cea-3481-4035-8411-34fa99eb8963")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="c995b5f0-69a1-493e-bb38-404fc82da7e7")>]

In [84]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Wipro',
 'Wipro',
 'Genpact',
 'Walmart',
 'Walmart',
 'Genpact',
 'Genpact',
 'EXL',
 'UPL',
 'UPL']

In [85]:
# so lets extract all the tags having the experience required data

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="c24cb401-1d86-40df-acfc-c8766a06da05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="53db0868-e45d-4f35-b69b-8bd7257f0261")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="c287127b-d182-4d37-bb90-f593ee7876b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="3df5fd8d-6b4c-4f58-8114-776029c6adfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="21b69bfd-6d25-40f6-a2ac-ffe4bd9aef5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="2a412439-699b-43bf-8d8c-6360426e8332")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="324cb617-b652-4990-9895-26b133745b5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="4f9e38fa-2e0a-42a5-ae66-31661b99178d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="2c2d9a89-cb5f-44e5-bdb4-88d14e611f52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="ea7b8878-4b5d-4cfd-b21d-cfa91239fe35")>]

In [86]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['6-11 Yrs',
 '2-7 Yrs',
 '5-7 Yrs',
 '5-9 Yrs',
 '5-9 Yrs',
 '7-12 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs']

In [87]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="2088322f-3862-4485-840e-9335efeeba66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="2d298494-920b-4f2d-906c-f0acf8eeb7fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="c4f00f99-6b3e-40fd-986f-d4965ad7865a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="4125ab77-b0a3-484d-b31b-9cdee0379366")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="30788ec7-cd95-4d5d-aebc-1400733e6a02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="46a7aecd-d40f-48b4-a503-6b3ab14b2cac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="2c77e709-8b15-46e5-abc8-bc91dc44ed9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="6ed21e75-7c50-4197-a912-86612071917a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="f44e94d2-b771-43c7-8198-99949e203502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="81ef4c59-b3e7-46c9-aa2c-19256b678668")>]

In [88]:
for i in location_tags :
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [89]:
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span[1]")
salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="f0b62312-f7fe-4e4c-b20b-0fba2d59641d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="941685a1-5133-4496-b265-f05cb88b20e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="c238f1ca-3a10-4a77-8536-ef7414ac9dba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="bd1cdaaf-6200-483b-aac0-e3330bd7ecac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="1bd30cd5-93a6-4d22-a1e1-917ea29f5906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="e471862f-30fa-496a-854a-058eb58c9ca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="490342b7-2e14-4120-9028-4ba644e67f60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="f95762c5-57d0-49f8-a01a-2e17ae4bfc93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="7c08b24a-70fd-403e-b83d-27bcf6c02350")>,
 <selenium.webdriver.remote.webelement.WebElement (session="869237582a4b7e113c184e93a7b3fd6f", element="df7f6d4f-8939-45ed-b18b-272a0950684f")>]

In [90]:
for i in salary_tags :
    salary=i.text
    salary_list.append(salary)
salary_list[0:10]

['Not disclosed',
 '4,00,000 - 6,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '60,000 - 90,000 PA.',
 'Not disclosed',
 '6,50,000 - 16,50,000 PA.',
 'Not disclosed',
 'Not disclosed']

In [91]:
#So lets check th length of ech element.
#Import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles[:10]
jobs['Company']=company_names[:10]
jobs['Experience_required']=experience_list[:10]
jobs['Location']=locations_list[:10]
jobs['Salary']=salary_list[:10]

In [92]:
jobs

,Title,Company,Experience_required,Location,Salary
0,AI Technologist Vacancy,Wipro,6-11 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Not disclosed
1,Job Opening with Wipro For Data Scientist posi...,Wipro,2-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...","4,00,000 - 6,00,000 PA."
2,Data Scientist,Genpact,5-7 Yrs,Bangalore/Bengaluru,Not disclosed
3,Senior Data Scientist,Walmart,5-9 Yrs,Bangalore/Bengaluru,Not disclosed
4,Senior Data Scientist,Walmart,5-9 Yrs,Bangalore/Bengaluru,Not disclosed
5,Data Scientist,Genpact,7-12 Yrs,Bangalore/Bengaluru,"60,000 - 90,000 PA."
6,Data Scientist,Genpact,5-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Not disclosed
7,Data Scientist- AI/ML- R&D,EXL,2-6 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...","6,50,000 - 16,50,000 PA."
8,Data Scientist,UPL,2-7 Yrs,"Mumbai, Bangalore/Bengaluru",Not disclosed
9,Data Scientist,UPL,1-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)",Not disclosed

<b> Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [93]:
# Lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [94]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [95]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [96]:
driver.get('https://www.flipkart.com/')

In [97]:
# Finding element for search bar
search_g= driver.find_element_by_xpath("//input[@class='_3704LK']") 
search_g

In [98]:
# write on search bar
search_g.send_keys('sunglasses')

In [99]:
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [100]:
B_name=[]
Price=[]
P_desc=[]

In [101]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [102]:
 for j  in b_name:
        B_name.append(j.text)
B_name[:100]

['ROZZETTA CRAFT',
 'OCHILA',
 'SRPM',
 'PIRASO',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'Mi',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SUNBEE',
 'SKYZA INDIA',
 'Fastrack',
 'SRPM',
 'Lee Topper',
 'ROYAL SON',
 'VINCENT CHASE',
 'New Specs',
 'Fastrack',
 'LOUIS KOUROS',
 'GANSTA',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'GANSTA',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'SRPM',
 'SUNBEE',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'United Colors of Benetton',
 'PIRASO',
 'ROYAL SON']

In [103]:
for i in range(3): 
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

In [104]:
for k in p_desc:
        P_desc.append(k.text)
P_desc[:100]

['UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (61)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (60)',
 'Gradient, UV Protection Retro Square, Wayfarer Sunglass...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'Polarized Rectangular Sunglasses (60)',
 'Gradient, UV Protection Aviator Sunglasses (56)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)']

In [105]:
for i in range(3): 
    price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [106]:
for l in price:
        Price.append(l.text)
Price[:100]

['₹359',
 '₹249',
 '₹199',
 '₹199',
 '₹699',
 '₹280',
 '₹319',
 '₹531',
 '₹599',
 '₹199',
 '₹599',
 '₹519',
 '₹314',
 '₹272',
 '₹283',
 '₹489',
 '₹899',
 '₹207',
 '₹299',
 '₹531',
 '₹719',
 '₹299',
 '₹629',
 '₹1,999',
 '₹207',
 '₹283',
 '₹195',
 '₹639',
 '₹279',
 '₹195',
 '₹219',
 '₹559',
 '₹195',
 '₹259',
 '₹699',
 '₹559',
 '₹531',
 '₹739',
 '₹410',
 '₹799']

In [107]:
#So lets check th length of ech element.
print(len(B_name[:40])),print(len(Price[:40])),print(len(P_desc[:40]))

40
40
40

(None, None, None)

In [108]:
#Import pandas as pd
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:40]
sun_gl['P_price']=Price[:40]
sun_gl['Pr_desc']=P_desc[:40]

In [109]:
sun_gl

,Brand_name,P_price,Pr_desc
0,ROZZETTA CRAFT,₹359,UV Protection Spectacle Sunglasses (Free Size)
1,OCHILA,₹249,UV Protection Wayfarer Sunglasses (54)
2,SRPM,₹199,UV Protection Wayfarer Sunglasses (50)
3,PIRASO,₹199,UV Protection Aviator Sunglasses (54)
4,Fastrack,₹699,UV Protection Wayfarer Sunglasses (Free Size)
5,Elligator,₹280,UV Protection Round Sunglasses (54)
6,PIRASO,₹319,UV Protection Aviator Sunglasses (58)
7,ROYAL SON,₹531,UV Protection Over-sized Sunglasses (61)
8,Mi,₹599,Polarized Wayfarer Sunglasses (Free Size)
9,PIRASO,₹199,UV Protection Aviator Sunglasses (54)
10,Fastrack,₹599,"Gradient, UV Protection Wayfarer Sunglasses (F..."
11,ROZZETTA CRAFT,₹519,UV Protection Aviator Sunglasses (62)
12,ROZZETTA CRAFT,₹314,"UV Protection, Gradient Retro Square Sunglasse..."
13,PIRASO,₹272,UV Protection Rectangular Sunglasses (52)
14,SUNBEE,₹283,"UV Protection, Polarized Wayfarer Sunglasses (..."
15,SKYZA INDIA,₹489,"Polarized, UV Protection Sports Sunglasses (Fr..."
16,Fastrack,₹899,UV Protection Aviator Sunglasses (58)
17,SRPM,₹207,"Night Vision, UV Protection Round Sunglasses (54)"
18,Lee Topper,₹299,Riding Glasses Wrap-around Sunglasses (Free Size)
19,ROYAL SON,₹531,"UV Protection, Gradient Over-sized Sunglasses ..."
20,VINCENT CHASE,₹719,"by Lenskart Polarized, UV Protection Cat-eye S..."
21,New Specs,₹299,"Mirrored, UV Protection, Riding Glasses, Other..."
22,Fastrack,₹629,UV Protection Aviator Sunglasses (Free Size)
23,LOUIS KOUROS,"₹1,999",UV Protection Aviator Sunglasses (60)
24,GANSTA,₹207,"Gradient, UV Protection Retro Square, Wayfarer..."
25,SUNBEE,₹283,"UV Protection, Polarized, Mirrored Wayfarer Su..."
26,SHAAH COLLECTIONS,₹195,"UV Protection, Polarized, Mirrored Rectangular..."
27,ROYAL SON,₹639,"Polarized, UV Protection Wrap-around Sunglasse..."
28,GANSTA,₹279,UV Protection Aviator Sunglasses (57)
29,Elligator,₹195,UV Protection Round Sunglasses (53)
30,PIRASO,₹219,UV Protection Aviator Sunglasses (54)
31,ROYAL SON,₹559,"UV Protection, Gradient Over-sized Sunglasses ..."
32,SRPM,₹195,"Others Wayfarer, Retro Square Sunglasses (50)"
33,SUNBEE,₹259,"UV Protection, Polarized, Mirrored Retro Squar..."
34,Fastrack,₹699,"Gradient, UV Protection Wayfarer Sunglasses (F..."
35,ROYAL SON,₹559,"UV Protection, Gradient Over-sized Sunglasses ..."
36,ROYAL SON,₹531,Polarized Rectangular Sunglasses (60)
37,United Colors of Benetton,₹739,"Gradient, UV Protection Aviator Sunglasses (56)"
38,PIRASO,₹410,UV Protection Over-sized Sunglasses (65)
39,ROYAL SON,₹799,"Polarized, UV Protection Wrap-around Sunglasse..."

In [110]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]
        
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100]
        
    for l in price:
        Price.append(l.text)
    Price[:100]

In [111]:
B_name[:100]

['ROZZETTA CRAFT',
 'OCHILA',
 'SRPM',
 'PIRASO',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'Mi',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SUNBEE',
 'SKYZA INDIA',
 'Fastrack',
 'SRPM',
 'Lee Topper',
 'ROYAL SON',
 'VINCENT CHASE',
 'New Specs',
 'Fastrack',
 'LOUIS KOUROS',
 'GANSTA',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'GANSTA',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'SRPM',
 'SUNBEE',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'United Colors of Benetton',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'OCHILA',
 'SRPM',
 'PIRASO',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'Mi',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SUNBEE',
 'SKYZA INDIA',
 'Fastrack',
 'SRPM',
 'Lee Topper',
 'ROYAL SON',
 'VINCENT CHASE',
 'New Specs',
 'Fastrack',
 'LOUIS KOUROS',
 'GANSTA',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'GANSTA',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'SRPM',
 'SUNBEE',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'United Colors of Benetton',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'OCHILA',
 'SRPM',
 'PIRASO',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'Mi',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SUNBEE',
 'SKYZA INDIA',
 'Fastrack',
 'SRPM',
 'Lee Topper',
 'ROYAL SON']

In [112]:
P_desc[:100]

['UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (61)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (60)',
 'Gradient, UV Protection Retro Square, Wayfarer Sunglass...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'Polarized Rectangular Sunglasses (60)',
 'Gradient, UV Protection Aviator Sunglasses (56)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (61)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (60)',
 'Gradient, UV Protection Retro Square, Wayfarer Sunglass...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'Polarized Rectangular Sunglasses (60)',
 'Gradient, UV Protection Aviator Sunglasses (56)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (61)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (56)']

In [113]:
Price[:100]

['₹359',
 '₹249',
 '₹199',
 '₹199',
 '₹699',
 '₹280',
 '₹319',
 '₹531',
 '₹599',
 '₹199',
 '₹599',
 '₹519',
 '₹314',
 '₹272',
 '₹283',
 '₹489',
 '₹899',
 '₹207',
 '₹299',
 '₹531',
 '₹719',
 '₹299',
 '₹629',
 '₹1,999',
 '₹207',
 '₹283',
 '₹195',
 '₹639',
 '₹279',
 '₹195',
 '₹219',
 '₹559',
 '₹195',
 '₹259',
 '₹699',
 '₹559',
 '₹531',
 '₹739',
 '₹410',
 '₹799',
 '₹359',
 '₹249',
 '₹199',
 '₹199',
 '₹699',
 '₹280',
 '₹319',
 '₹531',
 '₹599',
 '₹199',
 '₹599',
 '₹519',
 '₹314',
 '₹272',
 '₹283',
 '₹489',
 '₹899',
 '₹207',
 '₹299',
 '₹531',
 '₹719',
 '₹299',
 '₹629',
 '₹1,999',
 '₹207',
 '₹283',
 '₹195',
 '₹639',
 '₹279',
 '₹195',
 '₹219',
 '₹559',
 '₹195',
 '₹259',
 '₹699',
 '₹559',
 '₹531',
 '₹739',
 '₹410',
 '₹799',
 '₹359',
 '₹249',
 '₹199',
 '₹199',
 '₹699',
 '₹280',
 '₹319',
 '₹531',
 '₹599',
 '₹199',
 '₹599',
 '₹519',
 '₹314',
 '₹272',
 '₹283',
 '₹489',
 '₹899',
 '₹207',
 '₹299',
 '₹531']

In [114]:
#Import pandas as pd
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]

In [115]:
sun_gl

        Brand_name P_price                                            Pr_desc
0   ROZZETTA CRAFT    ₹359     UV Protection Spectacle Sunglasses (Free Size)
1           OCHILA    ₹249             UV Protection Wayfarer Sunglasses (54)
2             SRPM    ₹199             UV Protection Wayfarer Sunglasses (50)
3           PIRASO    ₹199              UV Protection Aviator Sunglasses (54)
4         Fastrack    ₹699      UV Protection Wayfarer Sunglasses (Free Size)
..             ...     ...                                                ...
95     SKYZA INDIA    ₹489  Polarized, UV Protection Sports Sunglasses (Fr...
96        Fastrack    ₹899              UV Protection Aviator Sunglasses (58)
97            SRPM    ₹207  Night Vision, UV Protection Round Sunglasses (54)
98      Lee Topper    ₹299  Riding Glasses Wrap-around Sunglasses (Free Size)
99       ROYAL SON    ₹531  UV Protection, Gradient Over-sized Sunglasses ...

[100 rows x 3 columns]

<b> Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

In [116]:
# Lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [117]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [118]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [119]:
driver.get('https://www.flipkart.com/')

In [123]:
# Finding element for search bar
search_g= driver.find_element_by_xpath("//input[@class='_3704LK']") 
search_g

In [124]:
# write on search bar
search_g.send_keys('sneakers')

In [125]:
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [126]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [127]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [128]:
B_name[:100]

['BIRDE',
 'Magnolia',
 'Layasa',
 'Chevit',
 'BRUTON',
 'Robbie jones',
 'BRUTON',
 'HRX by Hrithik Roshan',
 'URBANBOX',
 'Labbin',
 'Robbie jones',
 'BRUTON',
 'Robbie jones',
 'aadi',
 'Kraasa',
 'Chevit',
 'KWIK FIT',
 'D-SNEAKERZ',
 'BRUTON',
 'Kirjak',
 'Robbie jones',
 'U.S. POLO ASSN.',
 'bluemaker',
 'BIRDE',
 'Dicy',
 'ASTEROID',
 'Kraasa',
 'corsac',
 'PUMA',
 'PUMA',
 'HOTSTYLE',
 'HOTSTYLE',
 'Robbie jones',
 'CLYMB',
 "LEVI'S",
 'BIRDE',
 'aadi',
 'CAMPUS',
 'Kraasa',
 'BIRDE',
 'BIRDE',
 'Magnolia',
 'Layasa',
 'Chevit',
 'BRUTON',
 'Robbie jones',
 'BRUTON',
 'HRX by Hrithik Roshan',
 'URBANBOX',
 'Labbin',
 'Robbie jones',
 'BRUTON',
 'Robbie jones',
 'aadi',
 'Kraasa',
 'Chevit',
 'KWIK FIT',
 'D-SNEAKERZ',
 'BRUTON',
 'Kirjak',
 'Robbie jones',
 'U.S. POLO ASSN.',
 'bluemaker',
 'BIRDE',
 'Dicy',
 'ASTEROID',
 'Kraasa',
 'corsac',
 'PUMA',
 'PUMA',
 'HOTSTYLE',
 'HOTSTYLE',
 'Robbie jones',
 'CLYMB',
 "LEVI'S",
 'BIRDE',
 'aadi',
 'CAMPUS',
 'Kraasa',
 'BIRDE',
 'BIRDE',
 'Magnolia',
 'Layasa',
 'Chevit',
 'BRUTON',
 'Robbie jones',
 'BRUTON',
 'HRX by Hrithik Roshan',
 'URBANBOX',
 'Labbin',
 'Robbie jones',
 'BRUTON',
 'Robbie jones',
 'aadi',
 'Kraasa',
 'Chevit',
 'KWIK FIT',
 'D-SNEAKERZ',
 'BRUTON',
 'Kirjak']

In [129]:
P_desc[:100]

['Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Sneakers For Men',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "men's Skyblue sneakers lace-up trendy casual Sneakers F...",
 'Sneakers For Men',
 'PANAL Sneakers For Men',
 'casual for men Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Series 7 Sneakers For Men',
 'STYLISH MENS WHITE AND RED TRENDY SNEAKER FOR MENS Snea...',
 'Puma Smash Vulc Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 "Men's Lancer Sneakers Sneakers For Men",
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'KING PRO Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Sneakers For Men',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "men's Skyblue sneakers lace-up trendy casual Sneakers F...",
 'Sneakers For Men',
 'PANAL Sneakers For Men',
 'casual for men Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Series 7 Sneakers For Men',
 'STYLISH MENS WHITE AND RED TRENDY SNEAKER FOR MENS Snea...',
 'Puma Smash Vulc Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 "Men's Lancer Sneakers Sneakers For Men",
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'KING PRO Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Sneakers For Men',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "men's Skyblue sneakers lace-up trendy casual Sneakers F...",
 'Sneakers For Men',
 'PANAL Sneakers For Men',
 'casual for men Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Series 7 Sneakers For Men',
 'STYLISH MENS WHITE AND RED TRENDY SNEAKER FOR MENS Snea...']

In [130]:
Price[:100]

['₹299',
 '₹374',
 '₹399',
 '₹254',
 '₹199',
 '₹399',
 '₹283',
 '₹1,223',
 '₹198',
 '₹474',
 '₹379',
 '₹499',
 '₹399',
 '₹319',
 '₹419',
 '₹549',
 '₹397',
 '₹284',
 '₹269',
 '₹490',
 '₹399',
 '₹1,295',
 '₹399',
 '₹299',
 '₹284',
 '₹474',
 '₹449',
 '₹549',
 '₹2,089',
 '₹1,115',
 '₹245',
 '₹180',
 '₹379',
 '₹519',
 '₹1,599',
 '₹356',
 '₹299',
 '₹709',
 '₹479',
 '₹283',
 '₹299',
 '₹374',
 '₹399',
 '₹254',
 '₹199',
 '₹399',
 '₹283',
 '₹1,223',
 '₹198',
 '₹474',
 '₹379',
 '₹499',
 '₹399',
 '₹319',
 '₹419',
 '₹549',
 '₹397',
 '₹284',
 '₹269',
 '₹490',
 '₹399',
 '₹1,295',
 '₹399',
 '₹299',
 '₹284',
 '₹474',
 '₹449',
 '₹549',
 '₹2,089',
 '₹1,115',
 '₹245',
 '₹180',
 '₹379',
 '₹519',
 '₹1,599',
 '₹356',
 '₹299',
 '₹709',
 '₹479',
 '₹283',
 '₹299',
 '₹374',
 '₹399',
 '₹254',
 '₹199',
 '₹399',
 '₹283',
 '₹1,223',
 '₹198',
 '₹474',
 '₹379',
 '₹499',
 '₹399',
 '₹319',
 '₹419',
 '₹549',
 '₹397',
 '₹284',
 '₹269',
 '₹490']

In [131]:
Discount[:100]

['70% off',
 '62% off',
 '60% off',
 '74% off',
 '66% off',
 '60% off',
 '78% off',
 '60% off',
 '80% off',
 '52% off',
 '62% off',
 '85% off',
 '60% off',
 '68% off',
 '58% off',
 '77% off',
 '80% off',
 '56% off',
 '79% off',
 '75% off',
 '60% off',
 '56% off',
 '60% off',
 '70% off',
 '52% off',
 '76% off',
 '55% off',
 '63% off',
 '45% off',
 '68% off',
 '75% off',
 '63% off',
 '62% off',
 '65% off',
 '50% off',
 '64% off',
 '70% off',
 '35% off',
 '52% off',
 '71% off',
 '70% off',
 '62% off',
 '60% off',
 '74% off',
 '66% off',
 '60% off',
 '78% off',
 '60% off',
 '80% off',
 '52% off',
 '62% off',
 '85% off',
 '60% off',
 '68% off',
 '58% off',
 '77% off',
 '80% off',
 '56% off',
 '79% off',
 '75% off',
 '60% off',
 '56% off',
 '60% off',
 '70% off',
 '52% off',
 '76% off',
 '55% off',
 '63% off',
 '45% off',
 '68% off',
 '75% off',
 '63% off',
 '62% off',
 '65% off',
 '50% off',
 '64% off',
 '70% off',
 '35% off',
 '52% off',
 '71% off',
 '70% off',
 '62% off',
 '60% off',
 '74% off',
 '66% off',
 '60% off',
 '78% off',
 '60% off',
 '80% off',
 '52% off',
 '62% off',
 '85% off',
 '60% off',
 '68% off',
 '58% off',
 '77% off',
 '80% off',
 '56% off',
 '79% off',
 '75% off']

In [132]:
#Import pandas as pd
sneakers=pd.DataFrame({})
sneakers['Brand_name']=B_name[:100]
sneakers['P_price']=Price[:100]
sneakers['Pr_desc']=P_desc[:100]

In [133]:
sneakers

    Brand_name P_price                                            Pr_desc
0        BIRDE    ₹299  Stylish Comfortable Lightweight, Breathable Wa...
1     Magnolia    ₹374                                   Sneakers For Men
2       Layasa    ₹399                                   Sneakers For Men
3       Chevit    ₹254  494 Perfect Sports Shoes for Running Training ...
4       BRUTON    ₹199  Lightweight Pack Of 1 Trendy Sneakers Sneakers...
..         ...     ...                                                ...
95      Chevit    ₹549  Stylish Comfortable Lightweight, Breathable Ca...
96    KWIK FIT    ₹397                                   Sneakers For Men
97  D-SNEAKERZ    ₹284  Original Luxury Branded Fashionable Men's Casu...
98      BRUTON    ₹269                          Series 7 Sneakers For Men
99      Kirjak    ₹490  STYLISH MENS WHITE AND RED TRENDY SNEAKER FOR ...

[100 rows x 3 columns]

<b> Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [134]:
# Lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [135]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [136]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [137]:
driver.get('https://www.ambitionbox.com/')

In [138]:
# Finding element for job search bar
search_g= driver.find_element_by_xpath("//a[@class='link jobs']") 
search_g

In [139]:
# write on search bar
search_g.send_keys('jobs')

In [140]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
search_button.click()

In [142]:
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input") #job search bar

In [143]:
search_field_designation

In [144]:
search_field_designation.send_keys("Data Scientist")

In [145]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

In [146]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_button.click()

In [147]:

select_button=driver.find_element_by_xpath("//label[@class='radio-label']")
select_button

In [148]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [149]:
# So lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title noclick']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="500ff8e6-7d9e-4bb8-863b-2af4e116b676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="f9e8467e-c82c-42cb-83be-998db257def3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="2b8a9b38-332f-4ffe-8ea8-98cafdb744c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="e8905dc3-70af-4b48-8b36-da030d97db21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="47d93c25-8606-48db-986e-f16300136894")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="58dec6ff-f143-425e-b425-75ffdd18d92e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="0757eb53-b624-4cb4-bd80-e067cbad6c55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="3524a0fd-8cb8-4a51-a209-da75c91980a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="5f59f3e7-dfcb-4345-8e9f-ffea748c6f4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="7f01cb2a-a2b2-445e-a0e8-a9efbdc4cb86")>]

In [150]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Principal Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Applied Data Scientist',
 'Sr Applied Data Scientist',
 'Applied Data Scientist',
 'Data Scientist',
 'AVP / VP Data Scientist (Model Validation)',
 'Senior Data Scientist']

In [151]:
# So lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="757e0ca1-8737-4550-8028-8af7c9ea20c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="39a4f03c-7c82-4882-b234-af80031ae979")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="12b54757-8023-490a-85dd-85d4a78d21ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="6211856e-0b0b-47fc-ac10-709cd7393692")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="78cfb2bc-712e-4e28-94e2-43bb83150d51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="b0ae2b2c-0d97-4ed8-a92d-55050d40d865")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="9c3025fb-68e6-4fe8-a9ae-1434b3d00656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="9be9fbd2-545f-4334-b886-47abe01e57a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="408f6323-43f1-4bdb-8839-bc92ae03e2f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="e0a5a723-8f14-46b7-ab9c-b789dd955b81")>]

In [152]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['SAP India Pvt.Ltd',
 'Sanofi India Ltd',
 'Walmart Labs',
 'Walmart Labs',
 'Tesco Bengaluru',
 'Tesco Bengaluru',
 'Tesco Bengaluru',
 'GENPACT India Private Limited',
 'J.P. Morgan Services India Private Limited',
 'Dell International Services India Private Limited']

In [153]:

# so lets extract all the tags having the experience required data

experience_tags=driver.find_elements_by_xpath("//p[@class='body-small-l']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="6c617bc2-da24-4465-a6b7-7101ff4eb4ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="b8979762-e858-4def-8b38-36ae5f5856e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="db4c02b2-7894-443d-ab99-bbb38a3a05ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="b1b6de80-74ad-4926-9094-71cf3a4d929b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="9a4472ba-dd39-4d35-b2fe-c0fa6951e9e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="6d873668-92f0-4411-978e-880ddd7d9930")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="1eb3dc80-eabe-466c-a92f-fb7db40f2546")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="4c11ce7d-8e0b-4386-abfb-f7eb31cb113c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="24c7cbce-81fe-4e24-8cc4-e965dc6df0e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="070b64ab44eeffac5b0441c485be0003", element="2e4e0f77-aa67-4ab2-85f1-5605a7faf9ae")>]

In [154]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['5-10 years',
 'Not Disclosed',
 'Bengaluru/Bangalore',
 '5-10 Yrs',
 'Not Disclosed',
 'Bengaluru/Bangalore',
 'SQL, Agile, Analytics +7 more',
 '5-8 Yrs',
 'Not Disclosed',
 'Hyderabad/Secunderabad']

In [155]:
#Import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=experience_list[:10]

In [156]:
jobs

,title,company,experience_required
0,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,5-10 years
1,Principal Data Scientist,Sanofi India Ltd,Not Disclosed
2,Senior Data Scientist,Walmart Labs,Bengaluru/Bangalore
3,Senior Data Scientist,Walmart Labs,5-10 Yrs
4,Sr Applied Data Scientist,Tesco Bengaluru,Not Disclosed
5,Sr Applied Data Scientist,Tesco Bengaluru,Bengaluru/Bangalore
6,Applied Data Scientist,Tesco Bengaluru,"SQL, Agile, Analytics +7 more"
7,Data Scientist,GENPACT India Private Limited,5-8 Yrs
8,AVP / VP Data Scientist (Model Validation),J.P. Morgan Services India Private Limited,Not Disclosed
9,Senior Data Scientist,Dell International Services India Private Limited,Hyderabad/Secunderabad

<b> 10 Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [157]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [158]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [159]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [160]:
driver.get('https://www.ambitionbox.com/')

In [161]:
search_g= driver.find_element_by_xpath("//a[@class='link salaries']") 
search_g

In [162]:
search_g.send_keys('Salaries')

In [163]:
search_g.click()

In [164]:
search_job_profile=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [165]:
search_job_profile

In [166]:
search_job_profile.send_keys("Data Scientist")

In [167]:
search_job_profile.click()

In [168]:
select_button=driver.find_element_by_xpath("//p[@class='tt_text']")
select_button

In [169]:
search_job_profile.click()

In [170]:
select_button=driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
select_button

In [171]:
search_job_profile.click()

In [172]:
company_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [173]:
companies_tags=driver.find_elements_by_xpath("//div[@class='name']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="87728da6-c62b-4d60-b91c-cdf38b201ac6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="3eb13dad-e107-4d3f-a099-9fdae82611db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="2b6777fc-ce84-47ff-8d0a-47291ff9c8a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="4d59cb77-0f5e-421b-aba2-e9fe94c7e2f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="610e1ac9-1e1a-4917-9db7-0f303c1fa4a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="4b53749d-95b6-4abc-8b8e-aa41250a1441")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="cc6c96fb-2c5f-4c05-9797-84f93239f150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="5e5d9cfe-b290-44ad-b1de-918be587a52f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="9bae56f9-dfd8-4e45-b3c4-617d6e67f774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="6884cb1c-b19d-4363-b5d5-e3770aa4434e")>]

In [174]:
for i in companies_tags:
    company_names=i.text
    company_names.append(company_name)
company_names[0:10]

AttributeError: 'str' object has no attribute 'append'

In [175]:
salary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="11e9d0da-70f7-4bcc-a57f-824af603c834")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="2147967b-6976-4cff-a97f-d64be7c0ecf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="fd9ae025-333d-48c4-ba18-e96e3487a54f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="36937a0c-a229-405d-b666-9def171f2d3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="d752b78e-4fa4-431a-a5ab-9834606e58d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="d4ad3eaf-cded-4361-901a-a40caf3428c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="cfbde5a3-6d29-4aa2-8bdc-a78280c76693")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="84ebe6eb-f56c-4c32-a351-f0316d99baba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="fec8171a-afab-4bc1-ace6-2753b2861d40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="639ad484-b41a-4e1b-9280-981bed748268")>]

In [176]:
for i in salary_tags :
    salary=i.text
    total_salary_record.append(salary)
total_salary_record[0:10]

['₹ 31.8L',
 '₹ 23.9L',
 '₹ 23.0L',
 '₹ 21.1L',
 '₹ 20.9L',
 '₹ 20.6L',
 '₹ 20.4L',
 '₹ 20.1L',
 '₹ 19.9L',
 '₹ 19.3L']

In [177]:
salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="31291598-38d5-43f2-a80e-c0de8c4c5c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="be12daf9-5019-44fd-ba9e-cb9426cd2159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="dd90a17a-2efd-4e50-98b7-837a2e7b2b18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="1156b063-9d69-45d4-b97b-ac059d0b56c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="cf837c14-6b64-4edc-bebf-4561ef57bedd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="addc6b9b-3ddb-46d1-a7fb-e6b8a5fa7b85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="f15b94e7-8f82-4068-a65d-a86e8448b23b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="1824ae99-e09b-4a44-8362-ff73c622f89c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="641406a2-6a04-4e07-9032-370e070ce5fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="074f40c0-d259-4639-b59a-9679832c112d")>]

In [178]:
for i in salary_tags :
    salary=i.text
    minimum_salary.append(salary)
minimum_salary[0:10]

['₹ 11.0L',
 '₹ 65.0L',
 '₹ 13.0L',
 '₹ 45.0L',
 '₹ 12.0L',
 '₹ 34.0L',
 '₹ 12.0L',
 '₹ 33.0L',
 '₹ 8.0L',
 '₹ 45.0L']

In [179]:
salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="31291598-38d5-43f2-a80e-c0de8c4c5c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="be12daf9-5019-44fd-ba9e-cb9426cd2159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="dd90a17a-2efd-4e50-98b7-837a2e7b2b18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="1156b063-9d69-45d4-b97b-ac059d0b56c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="cf837c14-6b64-4edc-bebf-4561ef57bedd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="addc6b9b-3ddb-46d1-a7fb-e6b8a5fa7b85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="f15b94e7-8f82-4068-a65d-a86e8448b23b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="1824ae99-e09b-4a44-8362-ff73c622f89c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="641406a2-6a04-4e07-9032-370e070ce5fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="074f40c0-d259-4639-b59a-9679832c112d")>]

In [180]:
for i in salary_tags :
    salary=i.text
    maximum_salary.append(salary)
maximum_salary[0:10]

['₹ 11.0L',
 '₹ 65.0L',
 '₹ 13.0L',
 '₹ 45.0L',
 '₹ 12.0L',
 '₹ 34.0L',
 '₹ 12.0L',
 '₹ 33.0L',
 '₹ 8.0L',
 '₹ 45.0L']

In [181]:
experience_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="cee787c8-0913-4112-9f0b-90d96b382083")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="f59a5571-9e69-4f16-8110-0138e3eea2a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="2f95effd-1e34-4ead-bd25-7d34d078edd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="9f2515cd-78b5-4937-ab06-196322a86029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="d6654ee0-2860-4eae-915f-32ce5b3ab462")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="265505f4-1269-4a3c-9da2-b91410c6d4ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="1a214f16-e52a-4083-a66f-4d729d7bc321")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="27ee3e1e-4a2d-440d-80cc-8833ce8bc992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="c7bbf293-0ca4-4eda-87b0-2c741da78239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c41f318f4627c41a5ea0d7854ab782c", element="89108c58-20eb-4ee8-8b28-cc6bb51e3e4c")>]

In [182]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['Software Engineer\n . \n1-3 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2 yrs exp',
 'Software Engineer\n . \n2-4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2-4 yrs exp',
 'Software Engineer\n . \n1-2 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1-2 yrs exp']

In [183]:
jobs=pd.DataFrame({})
jobs['Total Salary Record']=total_salary_record[:10]
jobs['Minimum Salary']=minimum_salary[:10]
jobs['Maximum Salary']=maximum_salary[:10]
jobs['Experience']=experience_required[:10]

In [184]:
jobs

,Total Salary Record,Minimum Salary,Maximum Salary,Experience
0,₹ 31.8L,₹ 11.0L,₹ 11.0L,Software Engineer\n . \n1-3 yrs exp
1,₹ 23.9L,₹ 65.0L,₹ 65.0L,Software Engineer\n . \n1-4 yrs exp
2,₹ 23.0L,₹ 13.0L,₹ 13.0L,Software Engineer\n . \n2 yrs exp
3,₹ 21.1L,₹ 45.0L,₹ 45.0L,Software Engineer\n . \n2-4 yrs exp
4,₹ 20.9L,₹ 12.0L,₹ 12.0L,Software Engineer\n . \n1-4 yrs exp
5,₹ 20.6L,₹ 34.0L,₹ 34.0L,Software Engineer\n . \n1-4 yrs exp
6,₹ 20.4L,₹ 12.0L,₹ 12.0L,Software Engineer\n . \n2-4 yrs exp
7,₹ 20.1L,₹ 33.0L,₹ 33.0L,Software Engineer\n . \n1-2 yrs exp
8,₹ 19.9L,₹ 8.0L,₹ 8.0L,Software Engineer\n . \n1-4 yrs exp
9,₹ 19.3L,₹ 45.0L,₹ 45.0L,Software Engineer\n . \n1-2 yrs exp

QUESTION-5

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

In [188]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [189]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [190]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [191]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"

In [192]:
driver.get(url)

In [193]:
driver.maximize_window()

In [194]:
all_reviews_btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")

In [195]:
all_reviews_btn.click()

In [196]:
url1='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'

In [197]:
#defining functions to scrape data
def scrape_rating():
    rating=[]
    driver.refresh()
    rating_el=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    time.sleep(3)
    for i in rating_el:
        try:
            rating.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            rating.append("--")
    return rating

In [198]:
def scrape_review_summary():
    review_sum=[]
    driver.refresh()
    rev_sum=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    time.sleep(3)
    for i in rev_sum:
        try:
            review_sum.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            review_sum.append("--")
    return review_sum

In [199]:
def scrape_full_review():
    full_review=[]
    driver.refresh()
    rev_el=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
    time.sleep(3)
    for i in rev_el:
        try:
            full_review.append(i.text.replace("\n","  New Line: "))
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            full_review.append("--")
    return full_review

In [200]:
import time

In [201]:
rating=[]
review_sum=[]
full_review=[]
length=len(rating)
while(length<=100):
    driver.refresh()
    rating.extend(scrape_rating())
    review_sum.extend(scrape_review_summary())
    full_review.extend(scrape_full_review())
    time.sleep(5)
    length=len(rating)
    next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_btn.click()
    
len(review_sum)

110

In [202]:
#checking if the data was scraped properly
length_list=[len(full_review),len(rating),len(review_sum)]
length_list

[110, 110, 110]

In [203]:
review_sum

['Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended']

In [204]:
#creating a DataFrame for the scraped data
import pandas as pd
df6=pd.DataFrame()
df6["INDEX"]=range(1,101)
df6["RATING"]=rating[:100]
df6["REVIEW_SUMMARY"]=review_sum[:100]
df6["FULL_REVIEW"]=full_review[:100]
df6.set_index("INDEX",inplace=True)
df6

,RATING,REVIEW_SUMMARY,FULL_REVIEW
INDEX,,,
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
96,5,Fabulous!,This is my first iOS phone. I am very happy wi...
97,5,Great product,Amazing Powerful and Durable Gadget. New Line...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,4,Good choice,So far it’s been an AMAZING experience coming ...
100,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

Q8:: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [226]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [227]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [228]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [229]:
url="https://www.amazon.in/"
driver.get(url)

In [230]:
driver.maximize_window()

In [231]:
search_col=driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_col.send_keys('laptop')

In [232]:
search_button=driver.find_elements_by_xpath("//input[@class='nav-input nav-progressive-attribute']")

In [233]:
search_button[1].click()

In [234]:
#applying filters
#i7=driver.find_elements_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']")

#for i in i7:
    
#print(i.text)
#if(i.text)=='Intel Core i7':
    #i.click()
#break
    
    #the method explained in the doubt clearing session did not work
#using the filters manually

In [235]:
title_el=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)
title

['HP 15s- Ryzen 5- 8GB RAM/512GB SSD 15.6 Inches FHD, Micro-Edge, Anti-Glare Display (Natural Silver/AMD Radeon Graphics/Alexa/Dual Speakers/Fast Charge/Windows 11/MS Office), 15s-eq2144au',
 "Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD Laptop (4GB/256GB SSD/Windows 11/Office 2021/Platinum Grey/1.2Kg), 81VT009UIN",
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 "Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD Laptop (4GB/256GB SSD/Windows 11/Office 2021/Platinum Grey/1.2Kg), 81VT009UIN",
 'Dell New Inspiron 3521 Laptop, Intel PQC-N5030, Win11 + Office\'21, 8GB GDDR4, 256GB SSD, 15.6" (39.62Cms) HD AG (D560756WIN9BE, 1.61Kgs)',
 'HP 15s-11th Gen Intel Core i3 15.6 Inches Laptop (8GB RAM/512GB SSD, FHD, Micro-Edge, Anti-Glare Display UHD Graphics/Alexa/Windows 11/ Dual Speakers/Fast Charge/Win 11/MS Office) 15s- fr2508TU',
 'HP 247 G8 Laptop (Athlon P-3045B HD/ 14" HD (35.56 cms) /8GB RAM DDR4 /1TB HDD / W11 SL)One Year Warranty, Black, 67U77PA)',
 'Acer Aspire 3 AMD 3020e Dual core Processor 14 inches (35.5 cm) HD Display Laptop (4GB DDR4 RAM / 1TB HDD / Windows 11 Home/ Black /Narrow Bezel / 1.9 Kg, A314-22)',
 "Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/MS Office 2021/Platinum Grey/1.5Kg), 81WH007KIN"]

In [236]:
price_el=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price=[]
for i in price_el[:10]:
    price.append(i.text)
price

['47,111',
 '23,890',
 '26,990',
 '86,990',
 '23,890',
 '27,490',
 '32,490',
 '40,989',
 '28,990',
 '24,990']

In [255]:
url2=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

rating1_url=[]
for i in url2[:10]:
    rating1_url.append(i.get_attribute('href'))
rating1_url

['https://www.amazon.in/dp/B094XF92HG?pd_rd_i=B094XF92HG&pf_rd_p=b0aedc9a-bc0f-46ba-b960-f9f1507d9a7f&pf_rd_r=5AQRD2RJY512PEWNW82T&pd_rd_wg=KKxFm&pd_rd_w=hY46V&pd_rd_r=4bf0a2ec-0d50-4592-8887-bd662550ffef#',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A02503701FXGEH8CXSDO1&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB09SKV8TXD%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB09SKV8TXD%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A02503701FXGEH8CXSDO1&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB09SKV8TXD%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB09SKV8TXD%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A0798686H3C3FQKT6R0T&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB097TZMG7R%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB097TZMG7R%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_1?ie=UTF8&adId=A0798686H3C3FQKT6R0T&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB097TZMG7R%2Fref%3Dsspa_dk_detail_1%3Fpsc%3D1%26pd_rd_i%3DB097TZMG7R%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A05798692X0CNR3UM9AGY&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB09MM58Y7Q%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB09MM58Y7Q%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_2?ie=UTF8&adId=A05798692X0CNR3UM9AGY&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB09MM58Y7Q%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB09MM58Y7Q%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A08314862AR154PL1K7JO&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB09M41LYSC%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB09M41LYSC%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_3?ie=UTF8&adId=A08314862AR154PL1K7JO&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB09M41LYSC%2Fref%3Dsspa_dk_detail_3%3Fpsc%3D1%26pd_rd_i%3DB09M41LYSC%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_4?ie=UTF8&adId=A08556332MZ5NRFIFF5IJ&qualifier=1655396643&id=4547205081918991&widgetName=sp_detail&url=%2Fdp%2FB09MM4FPMR%2Fref%3Dsspa_dk_detail_4%3Fpsc%3D1%26pd_rd_i%3DB09MM4FPMR%26pd_rd_w%3DgjJdU%26content-id%3Damzn1.sym.5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_p%3D5210e5d3-37e0-44be-93e0-eb50dad0d2ca%26pf_rd_r%3DHT35Z2FCSY9T0EA5KT5B%26pd_rd_wg%3DHsQ8z%26pd_rd_r%3Da23d85f8-dd07-4f39-bde4-cc57c5ca3cfc%26s%3Dcomputers&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw']

In [257]:
import time
rating1=[]
for i in rating1_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        rating1.append(ratings)
    except:
        
        
        rating1.append("00")
rating1

['4.1', '4.3', '4.3', '3.7', '3.7', '4.3', '4.3', '4.3', '4.3', '4.0']

In [258]:
len(price)

10

In [259]:
len(title)

10

In [260]:
import pandas as pd
laptop_df=pd.DataFrame()

In [261]:
laptop_df['INDEX']=range(1,11)

In [262]:
laptop_df['TITLE']=title[:10]

In [263]:
laptop_df['PRICE']=price[:10]

In [264]:
laptop_df['rating']=rating[:10]

In [265]:
laptop_df.set_index('INDEX',inplace=True)
laptop_df

                                                   TITLE   PRICE rating
INDEX
1      HP 15s- Ryzen 5- 8GB RAM/512GB SSD 15.6 Inches...  47,111    3.9
2      Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD...  23,890    4.1
3      ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  26,990    4.1
4      HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990    4.3
5      Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD...  23,890    4.3
6      Dell New Inspiron 3521 Laptop, Intel PQC-N5030...  27,490    3.7
7      HP 15s-11th Gen Intel Core i3 15.6 Inches Lapt...  32,490    3.7
8      HP 247 G8 Laptop (Athlon P-3045B HD/ 14" HD (3...  40,989    4.3
9      Acer Aspire 3 AMD 3020e Dual core Processor 14...  28,990    4.3
10     Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...  24,990    4.3